.pixi/
.pytest_cache/
.ruff_cache/
.basedpyright/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
/datasets
artifacts/
outputs/
checkpoints/
wandb/
*.log
MUJOCO_LOG.TXT
.vscode/
.idea/
repo/
repo.zip
line2/
trash/
